# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ilk
*.pdb
files

.vs
Debug
Release
x64
ifcPrune.vcxproj.user
output
debug_output
.bin
build
build_wasm
build_wasm_debug
*.log
node_modules
**/dist/*

.idea/

#Mac Temporary Files
**/.DS_Store

examples/nodejs/*.ifc
tests/ifcfiles/private/*.ifc
tests/ifcfiles/private/*.stl
tests/ifcfiles/created.ifc
src/cpp/_deps/
yarn.lock

#external dependencies downloaded by Cmake
src/cpp/_deps/cdt-src/
src/cpp/_deps/earcut-src/
src/cpp/_deps/fastfloat-src/
src/cpp/_deps/glm-src/
src/cpp/_deps/spdlog-src/
src/cpp/_deps/tinycpptest-src/
src/cpp/_deps/tinynurbs-src/