name: Publish Web-IFC to NPM Registry
on: 
  release:
    types: [created]
permissions:
  id-token: write
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - uses: mymindstorm/setup-emsdk@v14
        with:
          version: 4.0.23
      - run: sudo npm install -g npm@latest
      - run: npm ci
      - run: npm run build-release
      - run: npm publish --access public
        working-directory: ./dist
      - run: npm version patch --git-tag-version false
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Automated Version Number Setting
          branch: main